<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Steven Bucholtz | Error {{ code }} </title>

    <!-- Site Font (Roboto Mono) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/error.css') }}">

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Whoops</h1>
				<h2>Error {{ code }}.</h2>
			</div>
			<a href="#">Let's Try That Again</a>
		</div>
	</div>

</body>
</html>
