<!doctype html>
    <html>
        <head>
            <title>Steven Bucholtz | Full Stack Developer</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Bootstrap Links -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

            <!-- Site Font (Roboto Mono) -->
            <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

            <!-- Site CSS -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        </head>

        <body>
            <div id="navbar">
                <a href="#home" class="text">.HELLO_WORLD<span class="blinking-cursor">_</span></a>
                <a href="#HelloWorld">.RESUME<span class="blinking-cursor"></span></a>
                <a href="#Portfolio">.PORTFOLIO<span class="blinking-cursor"></span></a>
                <a href="#References">.REFERENCES<span class="blinking-cursor"></span></a>
                <a href="#Contact">.CONTACT<span class="blinking-cursor"></span></a>
            </div>

            <a name="home"></a>

            <!--Header-->
            <header class="main-header" style="background-image: url({{ url_for('static', filename='images/header.jpg') }})">
                <div class="container">
                    <div class="row personal-profile">
                        <div class="col-md-4 personal-profile__avatar">
                            <img src="{{url_for('static', filename='images/self.jpg')}}" alt="avatar" style="width:100%;">
                        </div>
                        <div class="col-md-8">
                            <p class="personal-profile__name">Steven Bucholtz</p>
                            <p class="personal-profile__work">Full Stack Developer</p>
                            <div class="personal-profile__contacts">
                                <dl class="contact-list contact-list__opacity-titles">
                                    <dt>Age:</dt>
                                    <dd>23</dd>
                                    <dt>Phone:</dt>
                                    <dd><a href="tel:250-460-3030">250-460-3030</a></dd>
                                    <dt>Email:</dt>
                                    <dd><a href="mailto:stevenabucholtz@gmail.com">stevenabucholtz@gmail.com</a></dd>
                                    <dt>Address:</dt>
                                    <dd>Kelowna</dd>
                                </dl>
                            </div>
                            <p class="personal-profile__social">
                                <a href="" target="_blank"><i class="fa fa-github"></i></a>
                                <a href="" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </header>
            <!--Header-->

            <!--HELLO_WORLD-->
            <section id="hello" class="container section">
                <div class="row">
                    <div class="col-md-10">
                        <a name="HelloWorld"><h2 id="hello_header" class="section__title hello_world anim-typewriter">.HELLO_WORLD<span class="blinking-cursor"> |</span></h2></a>

                        <p class="section__description">
                            I am Junior Web developer able to build a Web presence from the ground up - from concept, navigation,
                            layout and programming to UX and SEO. Skilled at writing well-designed, testable and efficient code using
                            current best practices in Web development. Fast learner, hard worker and team player who is proficient in
                            an array of scripting languages and multimedia Web tools.
                        </p>

                        <a class="btn btn-primary" href="#" ><i class="fa fa-download"></i> Download</a>
                    </div>
                </div>
            </section>
            <!--HELLO_WORLD-->

            <hr />

            <!--RESUME-->
            <section id="resume" class="container section">
                    <div class="row">
                      <div class="col-md-10">
                        <h2 id="resume_header" class="section__title" style="text-indent: 0px;">Resume_</h2>
                        <p class="section__description">
                          Lorem ipsum dolor sit amet, <i><b>communication</b></i> adipisicing elit, <i><b>helpful</b></i> eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <i><b>sence of
                          humour</b></i> ullamco laboris nisi ut <i><b>honest</b></i> ea commodo consequat. Duis aute irure dolor in
                          upper-intermediate english level velit  dolore eu ivivdtevoluptatem ontend developer.
                        </p>
                      </div>
                    </div>

                     <!-- Education -->
                    <div class="row">
                      <div class="col-md-8 section__resume resume-list">
                        <h3 class="resume-list_title">education</h3>
                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Okanagan College</p>
                          <p class="resume-list__block-date"><strong>2016 - 2019</strong></p>
                          <p>Bachelor's Degree, Computer Science</p>

                        </div>
                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Okanagan College</p>
                          <p class="resume-list__block-date"><strong>2009 - 2012</strong></p>
                          <p>Network and Telecommunications Engineering</p>
                        </div>
                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Summerland Secondary School</p>
                          <p class="resume-list__block-date"><strong>2005 - 2009</strong></p>
                          <p>High School Diploma</p>
                        </div>
                      </div>
                    </div>
                    <!-- End Education -->

                    <!-- Work Experience -->
                    <div class="row">
                      <div class="col-md-8 section__resume resume-list">
                        <h3 class="resume-list_title">employment</h3>

                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Westgrid / Compute Canada</p>
                          <p class="resume-list__block-date"><strong>2018</strong></p>
                          <p>Junior Full Stack Developer</p>
                        </div>

                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Liveport</p>
                          <p class="resume-list__block-date"><strong>2014 - 2015</strong></p>
                          <p>Senior Network Analyst</p>
                        </div>

                        <div class="resume-list__block">
                          <p class="resume-list__block-title">Expiry / 101sitehosting</p>
                          <p class="resume-list__block-date"><strong>2014</strong></p>
                          <p>Web Developer</p>
                        </div>

                        <div class="resume-list__block">
                            <p class="resume-list__block-title">Open Mesh</p>
                            <p class="resume-list__block-date"><strong>2013 - 2014</strong></p>
                            <p>Customer Support Representative</p>
                         </div>

                         <div class="resume-list__block">
                            <p class="resume-list__block-title">ONE Information Technology</p>
                            <p class="resume-list__block-date"><strong>2011 - 2012</strong></p>
                            <p>Network and Warranty Help Desk Technician</p>
                         </div>

                      </div>
                    </div>
                    <!-- Work Experience -->
                

                     <!-- Industry Certifications -->
                     <div class="row">
                            <div class="col-md-8 section__resume resume-list">
                              <h3 class="resume-list_title">certifications and training</h3>
      
                              <div class="resume-list__block">
                                <p class="resume-list__block-title">A+</p>
                                <p class="resume-list__block-date"><strong>CompTIA</strong></p>
                              </div>
      
                              <div class="resume-list__block">
                                <p class="resume-list__block-title">CCENT</p>
                                <p class="resume-list__block-date"><strong>Cisco</strong></p>
                              </div>
      
                              <div class="resume-list__block">
                                <p class="resume-list__block-title">Lenovo Warranty Repair Certification</p>
                                <p class="resume-list__block-date"><strong>Lenovo</strong></p>
                              </div>
      
                              <div class="resume-list__block">
                                  <p class="resume-list__block-title">Network+</p>
                                  <p class="resume-list__block-date"><strong>CompTIA</strong></p>
                               </div>
      
                               <div class="resume-list__block">
                                  <p class="resume-list__block-title">Ubiquitti Enterprise Wireless Administrator [UEWA]</p>
                                  <p class="resume-list__block-date"><strong>Ubiquitti</strong></p>
                               </div>
      
                            </div>
                          </div>
                          <!-- Industry Certifications -->

                    
                  </section>
            <!--RESUME-->

            <hr />

            <!--PORTFOLIO-->
            <section id="portfolio" class="container section">
                <div class="row">
                    <div class="col-md-10">
                        <a name="Portfolio"><h2 id="hello_header" class="section__title hello_world anim-typewriter">.PORTFOLIO<span class="blinking-cursor"> |</span></h2></a>

                        <p class="section__description">
                            Lorem ipsum dolor sit amet, communication adipisicing elit, helpful eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud sence of humour ullamco
                            laboris nisi ut honest ea commodo consequat. Duis aute irure dolor in upper-intermediate english
                            level velit dolore eu ivivdtevoluptatem ontend developer.
                        </p>
                    </div>
                </div>
            </section>
            <!--PORTFOLIO-->

            <hr />           

            <!--REFERENCES-->
            <section id="references" class="container section">
                <div class="row">
                    <div class="col-md-10">
                        <a name="References"><h2 id="hello_header" class="section__title hello_world anim-typewriter">.REFERENCES<span class="blinking-cursor"> |</span></h2></a>

                        <p class="section__description">
                            Lorem ipsum dolor sit amet, communication adipisicing elit, helpful eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud sence of humour ullamco
                            laboris nisi ut honest ea commodo consequat. Duis aute irure dolor in upper-intermediate english
                            level velit dolore eu ivivdtevoluptatem ontend developer.
                        </p>
                    </div>
                </div>
            </section>
            <!--REFERENCES-->


            
            <!--FOOTER-->
            <footer class="w3-container w3-teal">
                <div class="footer-bottom">
                  <a href="/verifyuser" id='administrator-login'>ADMINISTRATOR</a>
                </div>
            </footer>
            <!--FOOTER-->


            <script>
            /* Script to handle sticky navigation */
                window.onscroll = function () { sticky_navigation() };
                var navbar = document.getElementById("navbar");
                var sticky = navbar.offsetTop;

                function sticky_navigation() {
                    if (window.pageYOffset > sticky) {
                        navbar.classList.add("sticky");
                    } else if (window.pageYOffset == 0) {
                        navbar.classList.remove("sticky");
                    }
                }   
            </script>

            <script>
            /* Script to add and remove the animation for the blinking cursor on the menu */
            $(document).ready(function(){
                $("a").click(function(){
                    $("span").removeClass("blinking-cursor").text("");
                    $(this).find('span').text("_").addClass("blinking-cursor");
                });
            });
            </script>
        

        </body>
    </html>