<!doctype html>
<html>

<head>
  <title>Steven Bucholtz | Full Stack Developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Site Font (Roboto Mono) -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Site CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>

  <!-- Navigation -->
  <div id="navbar">
    <a href="#home" class="text">.HELLO_WORLD<span class="blinking-cursor">_</span></a>
    <a href="#HelloWorld">.RESUME<span class="blinking-cursor"></span></a>
    <a href="#Portfolio">.PORTFOLIO<span class="blinking-cursor"></span></a>
    <a href="#References">.REFERENCES<span class="blinking-cursor"></span></a>
    <a href="#Contact">.CONTACT<span class="blinking-cursor"></span></a>
  </div>

  <a name="home"></a>

  <!-- Site Header -->
  <header class="main-header" style="background-image: url({{ url_for('static', filename='images/header.jpg') }})">S
    <div class="container">
      <div class="row personal-profile">
        <div class="col-md-4 personal-profile__avatar">
          <img src="{{url_for('static', filename='images/self.jpg')}}" alt="avatar" style="width:100%;">
        </div>
        <div class="col-md-8">
          <p class="personal-profile__name">Steven Bucholtz</p>
          <p class="personal-profile__work">Full Stack Developer</p>
          <div class="personal-profile__contacts">
            <dl class="contact-list contact-list__opacity-titles">
              <dt>Age:</dt>
              <dd>23</dd>
              <dt>Phone:</dt>
              <dd><a href="tel:250-460-3030">250-460-3030</a></dd>
              <dt>Email:</dt>
              <dd><a href="mailto:stevenabucholtz@gmail.com">stevenabucholtz@gmail.com</a></dd>
              <dt>Address:</dt>
              <dd>Kelowna</dd>
            </dl>
          </div>
          <p class="personal-profile__social">
            <a href="https://github.com/Routable" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/stevenbucholtz/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- Import Hello World-->
  {% include 'hello_world.html' %}
  <hr />

  <!-- Import Resume -->
  {% include 'resume.html' %}
  <hr />

  <!-- Import Portfolio -->
  {% include 'portfolio.html' %}
  <hr />

  <!-- Import References -->
  {% include 'references.html' %}

  <!-- Footer -->
  <footer class="w3-container w3-teal">
    <div class="footer-bottom">
      <a href="/verifyuser" id='administrator-login'>ADMINISTRATOR</a>
    </div>
  </footer>

  <!-- Script to handle sticky header navigation. Adds and removes CSS classes depending on offset values. --> 
  <script>
    window.onscroll = function () { sticky_navigation() };
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function sticky_navigation() {
      if (window.pageYOffset > sticky) {
        navbar.classList.add("sticky");
      } else if (window.pageYOffset == 0) {
        navbar.classList.remove("sticky");
      }
    }   
  </script>

<!-- Script to add and remove the "console" animation for the blinking cursor on the menu(s). -->
  <script>
    $(document).ready(function () {
      $("a").click(function () {
        $("span").removeClass("blinking-cursor").text("");
        $(this).find('span').text("_").addClass("blinking-cursor");
      });
    });
  </script>

<!-- Script to manage the sorting/displaying of portfolio items. -->
  <script>
    filterSelection("all") 
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("column");
      if (c == "all") c = "";
      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < x.length; i++) {
        RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
      }
    }

    // Show filtered elements
    function AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    // Hide elements that are not selected
    function RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>
</body>
</html>