<section id="portfolio" class="container section">
    <div class="row">
        <div class="col-md-10">
            <a name="Portfolio"><h2 id="hello_header" class="section__title hello_world anim-typewriter">.PORTFOLIO<span class="blinking-cursor"> |</span></h2></a>

            <p class="section__description">
                Lorem ipsum dolor sit amet, communication adipisicing elit, helpful eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud sence of humour ullamco
                laboris nisi ut honest ea commodo consequat. Duis aute irure dolor in upper-intermediate english
                level velit dolore eu ivivdtevoluptatem ontend developer.
            </p>

            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('professional')"> Professional Work</button>
                <button class="btn" onclick="filterSelection('academic')"> Academic Projects</button>
                <button class="btn" onclick="filterSelection('hobbies')"> Hobby Projects</button>
              </div>

              <!-- Portfolio Gallery Grid -->
              <div class="row">
                <div class="column academic">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/1.png') }}" alt="TaskTrack" style="width:100%">
                    <h4>TaskTrack</h4>
                    <p>My take on a Ticketing system.</p>
                  </div>
                </div>
                <div class="column academic">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/2.png') }}" alt="Lights" style="width:100%">
                    <h4>Frogger</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column academic">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/3.png') }}" alt="Nature" style="width:100%">
                    <h4>Haar Cascade Classifier</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>

                <div class="column hobbies">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/4.png') }}" alt="Car" style="width:100%">
                    <h4>SOUND.WAV</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column hobbies">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/5.png') }}" alt="Car" style="width:100%">
                    <h4>Island Escape</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column hobbies">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/6.png') }}" alt="Car" style="width:100%">
                    <h4>Robotic Bartender</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>

                <div class="column professional">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/7.png') }}" alt="People" style="width:100%">
                    <h4>Compute Canada Status</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column professional">
                  <div class="content">
                    <img src="{{ url_for('static', filename='images/7.png') }}" alt="People" style="width:100%">
                    <h4>Caetani Cultural Center</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column hobbies">
                  <div class="content">
                    <img src="https://www.w3schools.com/w3images/people3.jpg" alt="People" style="width:100%">
                    <h4>RoboFeeder</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
              <!-- END GRID -->
              </div>

        </div>
    </div>
</section>