<section id="resume" class="container section">
    <div class="row">
        <div class="col-md-10">
            <h2 id="resume_header" class="section__title" style="text-indent: 0px;">.RESUME_</h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet, <i><b>communication</b></i> adipisicing elit, <i><b>helpful</b></i> eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <i><b>sence
                        of
                        humour</b></i> ullamco laboris nisi ut <i><b>honest</b></i> ea commodo consequat. Duis aute
                irure dolor in
                upper-intermediate english level velit dolore eu ivivdtevoluptatem ontend developer.
            </p>
        </div>
    </div>

    <!-- Education -->
    <div class="row">
        <div class="col-md-8 section__resume resume-list">
            <h3 class="resume-list_title">education</h3>
            <div class="resume-list__block">
                <p class="resume-list__block-title">Okanagan College</p>
                <p class="resume-list__block-date"><strong>2016 - 2019</strong></p>
                <p>Bachelor's Degree, Computer Science</p>

            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">Okanagan College</p>
                <p class="resume-list__block-date"><strong>2009 - 2012</strong></p>
                <p>Network and Telecommunications Engineering</p>
            </div>
            <div class="resume-list__block">
                <p class="resume-list__block-title">Summerland Secondary School</p>
                <p class="resume-list__block-date"><strong>2005 - 2009</strong></p>
                <p>High School Diploma</p>
            </div>
        </div>
    </div>
    <!-- End Education -->

    <!-- Work Experience -->
    <div class="row">
        <div class="col-md-8 section__resume resume-list">
            <h3 class="resume-list_title">employment</h3>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Westgrid / Compute Canada</p>
                <p class="resume-list__block-date"><strong>2018</strong></p>
                <p>Junior Full Stack Developer</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Liveport</p>
                <p class="resume-list__block-date"><strong>2014 - 2015</strong></p>
                <p>Senior Network Analyst</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Expiry / 101sitehosting</p>
                <p class="resume-list__block-date"><strong>2014</strong></p>
                <p>Web Developer</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Open Mesh</p>
                <p class="resume-list__block-date"><strong>2013 - 2014</strong></p>
                <p>Customer Support Representative</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">ONE Information Technology</p>
                <p class="resume-list__block-date"><strong>2011 - 2012</strong></p>
                <p>Network and Warranty Help Desk Technician</p>
            </div>

        </div>
    </div>
    <!-- Work Experience -->

    <!-- Industry Certifications -->
    <div class="row">
        <div class="col-md-8 section__resume resume-list">
            <h3 class="resume-list_title">certifications and training</h3>

            <div class="resume-list__block">
                <p class="resume-list__block-title">A+</p>
                <p class="resume-list__block-date">CompTIA</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">CCENT</p>
                <p class="resume-list__block-date">Cisco</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Lenovo Warranty Repair Certification</p>
                <p class="resume-list__block-date">Lenovo</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Network+</p>
                <p class="resume-list__block-date">CompTIA</p>
            </div>

            <div class="resume-list__block">
                <p class="resume-list__block-title">Ubiquitti Enterprise Wireless Administrator [UEWA]</p>
                <p class="resume-list__block-date">Ubiquitti</p>
            </div>

        </div>
    </div>
    <!-- Industry Certifications -->
</section>